@import "variable";
@import "mixin";
@import "mixinRwd";
@import "base";
.nav{
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .nav_logo{
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .nav_menu{
    .nav_list{
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
    }
  }
  .nav_link{
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  .nav-close,.nav_toogle{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}
// ========== mobile devices ==========
@media screen and (max-width:767px){
  .nav_menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0% , 100% ,.3 );
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    transition: right .4s;
  }
  .show-menu{
    right: 0;
  }
}
